.addContainer {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
}

.heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.addButton {
  text-transform: none;
}
